@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: rgb(252, 250, 250);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(181, 209, 191);
    padding: 24px;
    
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid black;
}

.conteudo h1{
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.conteudo h2 {
    font-size: 1.5em;
    color: rgb(32, 58, 129);
    padding: 30px;
    text-align: center;
}

.texto-principal{
    font-size: 30px;
    font-size: 1.2em;
    text-align:justify;
    width: 90%;
    text-indent: 20px;
    padding-left: 10%;
}

.caixa-calculo {
    display: inline-block;
    text-align: center;
    padding: 30px 20px;
    margin: 20px 1.5%;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: rgb(82, 82, 79);
    border-radius: 10px;    
}

.container {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(190, 205, 240);
    width: fit-content;
    height: 300px;
    margin-top: 30px;   
}

.titulo-container {
    color: black;
    padding: 10px;
    }

.input.container {
    display: flex;
    align-content: center;
}

.campo-input{
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px;
    
}
button {
    padding: 10px;
    width: 150px;
    color: black;
    font-weight: bold;
    display: flex;
    margin-top: 20px;
    background-color: rgb(247, 246, 214);
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: bisque;
    transition: 0.5s;
}

.calculo-resposta {
    font-size: 35px;
    padding: 20px;
    display: flex;
}

.mapa {
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
}


footer {
      background-color: rgb(181, 209, 191);
      display: flex;
      justify-content: center;
}

/* Pagina de dicas*/

.texto-dicas {
    margin-bottom: 48px;
    border-top: 0.4px solid black;
}


.titulo-dicas {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    text-align: justify,center;
}


.texto-dicas-principal p{
    font-size: 30px;
    font-size: 1.2em;
    text-align:justify;
    width: 90%;
    text-indent: 20px;
    padding-left: 10%;
}

.texto-dicas-principal h2 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(32, 58, 129);
    padding: 10px;
    padding-left: 10%;
}

.texto-video {
    font-size: 30px;
    padding:20px;
    font-weight: bold;
    text-align: center;
}
.video {
    position: relative;
    left: 50%;
    margin-left: -200px;
    padding:10px;
}



